@import "tailwindcss";

@plugin "@iconify/tailwind4";
@plugin "daisyui" {
  themes:
    winter --default,
    night;
}

@utility anim-shine {
  position: relative;
  overflow: hidden;

  @media not (prefers-reduced-motion: reduce) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -150%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        105deg,
        oklab(100% 0% 0% / 0) 30%,
        oklab(100% 0% 0% / 0.33) 45%,
        oklab(100% 0% 0% / 0.4) 50%,
        oklab(100% 0% 0% / 0.33) 55%,
        oklab(100% 0% 0% / 0) 70%
      );
      animation: anim-shine 5s infinite;
      pointer-events: none;
    }
  }
}

@keyframes anim-shine {
  0% {
    left: -150%;
  }
  60% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

@utility anim-ripple {
  position: relative;
  overflow: hidden;

  @media not (prefers-reduced-motion: reduce) {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      animation: anim-ripple 3s infinite;
      pointer-events: none;
      z-index: 0;
    }
  }
}

@keyframes anim-ripple {
  0% {
    box-shadow: inset 0 0 0 16px var(--color-primary);
    opacity: 0.3;
  }
  40% {
    box-shadow: inset 0 0 0 0 var(--color-primary);
    opacity: 0;
  }
  100% {
    box-shadow: inset 0 0 0 16px var(--color-primary);
    opacity: 0;
  }
}

/* Reduce motion for SVG animations */

@media (prefers-reduced-motion: reduce) {
  *:has(> animate[attributeName="stroke-dashoffset"][values$=";0"]) {
    stroke-dashoffset: 0 !important;
  }

  *:has(> animate[attributeName="fill-opacity"][values$=";1"]) {
    fill-opacity: 1 !important;
  }

  [data-animated] {
    display: none !important;
  }

  .checkbox,
  .checkbox::before,
  .checkbox::after {
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }
}

@media not (prefers-reduced-motion: reduce) {
  [data-not-animated] {
    display: none !important;
  }
}
